@{
    ViewBag.Title = "Opções";
}
<h2>@ViewBag.Title</h2>

<h3 class="btn btn-default">@Html.ActionLink("Gerenciar Funcionário", "ConsultarFuncionario", "Funcionario")</h3>
<h3 class="btn btn-default">@Html.ActionLink("Gerenciar Fornecedor", "ConsultarFornecedor", "Fornecedor")</h3>
<h3 class="btn btn-default">@Html.ActionLink("Gerenciar Produtos", "SelecionarFornecedor", "Produtos")</h3>
<h3 class="btn btn-default">@Html.ActionLink("Fechamento do Mês", "ConsultarFuncionarioPedido", "Pedido")</h3>